{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Bookstore{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'base/css/style.css' %}">
    {% block extra_css %}{% endblock %}
    {% block extra_js %}{% endblock %}
</head>
<body>
    <header>
        <nav>
            <a href="{% url 'sales:home' %}" class="nav-link">Home</a>
            <a href="{% url 'books:home' %}" class="nav-link">Books</a>
            <a href="{% url 'books:list' %}" class="nav-link">Books List</a>
            <a href="{% url 'sales:records' %}" class="nav-link">Sales Records</a>
            {% if user.is_authenticated %}
                <a href="{% url 'logout' %}" class="nav-link">Logout</a>
            {% else %}
                <a href="{% url 'login' %}" class="btn">Login</a>
            {% endif %}
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2023 Bookstore. All rights reserved.</p>
    </footer>
</body>
</html>