{% extends 'base/base.html' %}
{% load static %}

{% block title %}Book Details{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'books/css/books-detail.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <h2>Details: {{ object.name }}</h2>

        <div class="detail-item">
            <b>Title: </b> {{ object.name }}
        </div>

        <div class="detail-item">
            <b>Author: </b> {{ object.author_name }}
        </div>

        <div class="detail-item">
            <b>Genre: </b> {{ object.genre }}
        </div>

        <div class="detail-item">
            <b>Book Type: </b> {{ object.book_type }}
        </div>

        <div class="detail-item">
            <b>Price: </b> {{ object.price }}
        </div>

        <img src="{{ object.pic.url }}" width="200" height="300" alt="{{ object.name }}" />
    </div>
{% endblock %}